@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #279AF1;
    --secondary-color: #94DFA4;
    --accent1-color: #90AACC;
    --accent2-color: #F7F7FF;
  
    --heading-font: 'Freeman', serif;
    --paragraph-font: 'Roboto', serif;
  
    --nav-background-color: #279AF1;
    --nav-link-color: #94DFA4;
    --nav-hover-link-color: #F7F7FF;
    --nav-hover-background-color: #90AACC;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 10px;
    text-align: center; 
    color: white;
    font-size: x-large;
    background-color: rgba(119, 110, 161, 0.212);
}

h1 {
    font-family: var(--heading-font);
    text-align: center;
    font-weight: 100;
}

header img{
    width: 20%;
    grid-column: 1;
}

article img:not(.exception) {
    width: 14%;
    float: right;
    padding: 5px;
}

article{
    position:absolute;
    bottom: 90px;
    width: auto;
    height: 100px;
    color: whitesmoke;
    background-color: rgba(50, 102, 122, 0.5);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

* {
    width: 100%;
}
  
header {
    max-width: 960px;
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    justify-content: space-around;
}


header nav {
    
    width: 100%;
    display: flex;
    text-align: left;
    list-style: none;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}



.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventure img {
    width: 100px;
    height: auto;
}

.adventure figcaption{
    
    font-size: small;
}

p {
    padding: 20px;
}

nav a {
    text-decoration: none;
    padding: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer nav{
    align-self: center;
    flex: 1;
}

footer p{
    flex: 3;
}

footer img{
    width: 20px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 450px;
}

.info div h4, 
.info div p {
    margin: 5px 0; /* Adjust as necessary */
    padding: 0; /* Ensure no padding is added */
}

#cname, #useremail {
    width: 15rem;
}

input[type="radio"],
input[type="checkbox"] {
    margin-left: 10px;
}

.questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
input, select, textarea {
    padding: .5rem;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
}
iframe {
    width: 10rem;
    height: 10rem;
    align-self: self-end;
}

figcaption {
    font-size: smaller;
    font-style: italic;
    align-items: center;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 10rem;
    text-align: center;
}

.questions p {
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

  button:hover {
    background-color: rgb(114, 89, 230);
    
}

.employees img {
    width: 10rem;
    height: auto;
}

.employees {
    display: flex;
}

textarea {
    width: 400px;
}